services:
  mongodb:
    container_name: mongodb
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongodb
      MONGO_INITDB_ROOT_PASSWORD: mongodb
      MONGO_INITDB_DATABASE: dunga-dunga
    networks:
      - backend
    volumes:
      - ./mongo-init/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  dunga-dunga:
    container_name: ts-node-app
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    restart: always
    env_file: .env
    expose:
      - ${PORT}
    ports:
      - ${PORT}:${PORT}
    links:
      - mongodb
    depends_on:
      - mongodb
    networks:
      - backend
    volumes:
      - ./src:/usr/src/app/src:ro

networks:
  backend:
    driver: bridge
